<div class="row p-t-30">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="text-inverse text-uppercase font-light">Change Your Password</h1>
        </div>

        <div class="bg-primary text-center p-t-48 p-b-48 m-t-30">
            <div class="new-pwd-form">
                <div class="column1">
                    <form class="m-b-20">
                        <div>
                            <label>Old Password:</label>
                            <input type="password" name="password" [(ngModel)]="old_password">
                        </div>
                        <div>
                            <label>New Password:</label>
                            <input type="password" name="password" [(ngModel)]="new_password">
                        </div>
                        <div>
                            <label>Repeat New Password:</label>
                            <input type="password" name="retype_password"
                                   [(ngModel)]="retype_password">
                        </div>
                    </form>

                    <re-captcha site_key="6LdPjjoUAAAAADOGFhnrLXE1wvQc7ALjqJn03MLw"
                                (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                    <button class="primary-button m-t-20" style="width:100%;" type="button" (click)="onChangePassword()">
                        Submit
                    </button>

                </div>
                <div class="column2">
                    <p>Use this form to change your password.</p>
                    <p>After you submit it, you will be logged out and will need to log in with your new password.</p>
                    <p>Your password must be at least 8 characters long, but it is HIGHLY recommended that you choose a random, alphanumeric password of at least 32 characters.</p>
                    <p>NEVER use a password for an exchange that you use ANYWHERE else.</p>
                </div>
            </div>
        </div>
    </div>
</div>