<div class="row p-t-30">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="text-inverse text-uppercase font-light">{{'FORGOT_PWD.TITLE' | translate}}</h1>
        </div>

        <div class="bg-primary text-center p-t-48 p-b-48 m-t-30" *ngIf="!sent && !confirmed">
            <div class="reset-pwd-form">
                <div class="column1">
                    <form class="m-b-20">
                        <label for="username">Email:</label>
                        <input class="userPassInput" type="text" name="username" id="username" [(ngModel)]="email">

                    </form>

                    <re-captcha site_key="6LdPjjoUAAAAADOGFhnrLXE1wvQc7ALjqJn03MLw"
                                (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                    <button class="primary-button m-t-20" style="width:100%;" type="button" (click)="onSendMail()">
                        {{'BUTTON.SUBMIT' | translate}}
                    </button>

                </div>
                <div class="column2">
                    <h3 class="standard">{{'FORGOT_PWD.RIGHT_SIDE1' | translate}}</h3>
                    <p>{{'FORGOT_PWD.RIGHT_SIDE2' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="bg-primary text-center p-t-48 p-b-48 m-t-30" *ngIf="sent && !confirmed">
            <div class="reset-pwd-form">
                <h3>{{'FORGOT_PWD.SUCCESS_SEND_MESSAGE' | translate}}</h3>
            </div>
        </div>

        <div class="bg-primary text-center p-t-48 p-b-48 m-t-30" *ngIf="confirmed">
            <div class="new-pwd-form">
                <div class="column1">
                    <form class="m-b-20">
                        <div>
                            <label>New Password:</label>
                            <input type="password" name="password" [(ngModel)]="password">
                        </div>
                        <div>
                            <label>Repeat New Password:</label>
                            <input type="password" name="retype_password"
                                   [(ngModel)]="retype_password">
                        </div>
                    </form>

                    <re-captcha site_key="6LdPjjoUAAAAADOGFhnrLXE1wvQc7ALjqJn03MLw"
                                (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
                    <button class="primary-button m-t-20" style="width:100%;" type="button" (click)="onResetPassword()">
                        Submit
                    </button>

                </div>
                <div class="column2">
                    <h3 class="standard">{{'FORGOT_PWD.RIGHT_SIDE1' | translate}}</h3>
                    <p>{{'FORGOT_PWD.RIGHT_SIDE2' | translate}}</p>
                    <p>{{'FORGOT_PWD.RIGHT_SIDE3' | translate}}</p>
                    <p>{{'FORGOT_PWD.RIGHT_SIDE4' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>