<div class="content" [ngClass]="{'day': settings.themeMode == 'day', 'night': settings.themeMode == 'night'}">
    <div class="top-side">
        <div class="market-table">
            <div class="market-header bg-primary">
                <div class="float-left title">
                    MARKETS
                </div>
                <div class="float-right search-field">
                    <i class="fa fa-search"></i>
                    <input type="text" name="search" placeholder="Search" [(ngModel)]="filtertxt"
                           (ngModelChange)="onFilter()">
                </div>
                <div class="float-right">
                    <input type="checkbox" name="marketStar" id="marketStar" (click)="onShowOnlyStar()">
                    <label for="marketStar">show favourites</label>
                </div>
            </div>
            <div class="market-tab">
                <ul class="tabs">
                    <li id="baseTabBTC" data-url="containerBTC" [ngClass]="{'active': selCurrency == 'USD'}"
                        (click)="onSelectCurrency('USD')">USD
                    </li>
                    <li id="baseTabETH" data-url="containerETH" [ngClass]="{'active': selCurrency == 'EURO'}"
                        (click)="onSelectCurrency('EURO')">EURO
                    </li>
                    <li id="baseTabXMR" data-url="containerXMR" [ngClass]="{'active': selCurrency == 'BTC'}"
                        (click)="onSelectCurrency('BTC')">BTC
                    </li>
                    <li id="baseTabUSDT" data-url="containerUSDT" [ngClass]="{'active': selCurrency == 'ETH'}"
                        (click)="onSelectCurrency('ETH')">ETH
                    </li>
                </ul>

                <div class="tools">
                    <i class="fa fa-cog"></i>
                </div>

                <div class="toolPanel" style="display: none;">
                    <div class="notch"></div>
                    <div class="title">Market Settings</div>
                    <div class="settingsRow colSettings">
                        <ul class="button-group" id="colButtons">
                            <li class="button showName" [ngClass]="{'active': lastColumn == 'name'}"
                                (click)="onClickLastRowSetting('name')"><a class="" data-url="Name">Name</a></li>
                            <li class="button showBalance" [ngClass]="{'active': lastColumn == 'balance'}"
                                (click)="onClickLastRowSetting('balance')"><a class="" data-url="Balance">Balance</a>
                            </li>
                            <li class="button showValue" [ngClass]="{'active': lastColumn == 'value'}"
                                (click)="onClickLastRowSetting('value')"><a class="" data-url="Value">Est. Value</a>
                            </li>
                        </ul>
                        <div class="desc">Right Column:</div>
                    </div>
                    <div class="settingsRow starSettings">
                        <ul class="button-group" id="starAllButtons">
                            <li class="button starAll" (click)="onClickStarSetting('all')"><a class=""
                                                                                              data-url="starAll">All</a>
                            </li>
                            <li class="button starMine" (click)="onClickStarSetting('balance')"><a class=""
                                                                                                   data-url="starMine">My
                                Balance</a></li>
                            <li class="button starNone" (click)="onClickStarSetting('none')"><a class=""
                                                                                                data-url="starNone">None</a>
                            </li>
                        </ul>
                        <div class="desc">Quick <i class="fa fa-check"></i> Select:</div>
                    </div>
                </div>

                <!--<div class="tools">-->
                <!--<i class="fa fa-cog"></i>-->
                <!--</div>-->
            </div>
            <div class="table-content">
                <table class="table-responsive">
                    <thead>
                    <tr>
                        <th class="text-center" (click)="onSortTable('star_off')"><i class="fa fa-check"></i></th>
                        <th (click)="onSortTable('coin')">Coin
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'coin' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'coin' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                        <th (click)="onSortTable('last_price')">Price
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'last_price' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'last_price' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                        <th (click)="onSortTable('volume')">Volume
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'volume' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'volume' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                        <th (click)="onSortTable('change')">Change
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'change' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'change' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                        <th (click)="onSortTable('name')" *ngIf="lastColumn == 'name'">Name
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'name' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'name' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                        <th (click)="onSortTable('balance')" *ngIf="lastColumn == 'balance'">My Balance
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'balance' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'balance' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                        <th (click)="onSortTable('value')" *ngIf="lastColumn == 'value'">My {{selCurrency}} Value
                            <i class="fa"
                               [ngClass]="{'fa-caret-up': sortInfo[selCurrency].sortColumn == 'value' && sortInfo[selCurrency].sortOrder == 'asc', 'fa-caret-down': sortInfo[selCurrency].sortColumn == 'value' && sortInfo[selCurrency].sortOrder == 'desc'}"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let coin of coins"
                        [ngClass]="{'active': selCurrency == selPairCurrency && coin['coin'] == selPairCoin}"
                        (click)="onClickCoin(coin)">
                        <td class="text-center" [ngClass]="{'star-off': coin.star_off}"
                            (click)="$event.stopPropagation(); onClickStar(coin)"><i class="fa fa-check"></i></td>
                        <td>{{coin['coin']}}</td>
                        <td class="text-right">{{coin['last_price'] | number:'1.8-8'}}</td>
                        <td class="text-right">{{coin['volume'] | number:'1.3-3'}}</td>
                        <td class="text-right">{{coin['change'] | number:'1.2-2'}}%</td>
                        <td *ngIf="lastColumn == 'name'">{{coin['coin_name']}}</td>
                        <td *ngIf="lastColumn == 'balance'">{{0 | number:'1.2-2'}}</td>
                        <td *ngIf="lastColumn == 'value'">{{0 | number:'1.2-2'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="chart-side">
            <div class="float-left title">
                <h2 class="text-primary text-uppercase m-b-0">{{selPairCoinName}} Exchange</h2>
                <h4>{{selPairCoin}}/{{selPairCurrency}}</h4>
            </div>
            <div class="float-right sts-table" *ngIf="seletedCoin">
                <div class="row">
                    <div class="col-md-3">
                        <div class="name">Last Price</div>
                        <div class="value"><b>{{seletedCoin['last_price'] | number:'1.8-8'}}</b></div>
                    </div>
                    <div class="col-md-3">
                        <div class="name">24hr Change</div>
                        <div class="value"><b>{{seletedCoin['change'] | number:'1.8-8'}}%</b></div>
                    </div>
                    <div class="col-md-3">
                        <div class="name">24hr High</div>
                        <div class="value"><b>{{seletedCoin['high'] | number:'1.8-8'}}</b></div>
                    </div>
                    <div class="col-md-3">
                        <div class="name">24hr Low</div>
                        <div class="value"><b>{{seletedCoin['low'] | number:'1.8-8'}}</b></div>
                    </div>
                    <div class="col-md-12">
                        <div class="">24hr Volume: <b>{{seletedCoin['currency_volume'] | number:'1.8-8'}}</b> {{selPairCurrency}} / <b>{{seletedCoin['volume'] |
                            number:'1.8-8'}}</b> {{selPairCoin}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="chart" id="chart"></div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="row m-t-40">
        <div class="col-md-3 orders">
            <div class="order-title">
                <div class="float-left">
                    <h3 class="text-primary text-uppercase">Sell Orders</h3>
                </div>
                <div class="float-right">
                    Total: <b>{{sellOrders.length > 0 ? (sellOrders[sellOrders.length - 1]['sum_coin'] | number:'1.8-8') : (0 | number:'1.8-8')}}</b> {{selPairCoin}}
                </div>
            </div>
            <div class="clear"></div>
            <div class="table-responsive">
                <div class="table-head">
                    <table>
                        <thead>
                        <tr>
                            <th>
                                <div>Price</div>
                            </th>
                            <th>
                                <div>{{selPairCoin}}</div>
                            </th>
                            <th>
                                <div>{{selPairCurrency}}</div>
                            </th>
                            <th>
                                <div>Sum({{selPairCurrency}})</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of sellOrders" (click)="onClickSellOrder(order)">
                            <td class="text-right">
                                <div>{{order.rate | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.amount | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.total | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.sum | number:'1.8-8'}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-content">
                    <table>
                        <thead>
                        <tr>
                            <th>
                                <div>Price</div>
                            </th>
                            <th>
                                <div>{{selPairCoin}}</div>
                            </th>
                            <th>
                                <div>{{selPairCurrency}}</div>
                            </th>
                            <th>
                                <div>Sum({{selPairCurrency}})</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of sellOrders" (click)="onClickSellOrder(order)">
                            <td class="text-right">
                                <div>{{order.rate | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.amount | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.total | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.sum | number:'1.8-8'}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="no-result" *ngIf="sellOrders.length == 0"><span>There isn't any sell orders yet.</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 orders">
            <div class="order-title">
                <div class="float-left">
                    <h3 class="text-primary text-uppercase">Buy Orders</h3>
                </div>
                <div class="float-right">
                    Total: <b>{{buyOrders.length > 0 ? (buyOrders[buyOrders.length - 1]['sum'] | number:'1.8-8') : (0 | number:'1.8-8')}}</b> {{selPairCurrency}}
                </div>
            </div>
            <div class="clear"></div>
            <div class="table-responsive">
                <div class="table-head">
                    <table>
                        <thead>
                        <tr>
                            <th>
                                <div>Price</div>
                            </th>
                            <th>
                                <div>{{selPairCoin}}</div>
                            </th>
                            <th>
                                <div>{{selPairCurrency}}</div>
                            </th>
                            <th>
                                <div>Sum({{selPairCurrency}})</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of buyOrders" (click)="onClickBuyOrder(order)">
                            <td class="text-right">
                                <div>{{order.rate | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.amount | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.total | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.sum | number:'1.8-8'}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-content">
                    <table>
                        <thead>
                        <tr>
                            <th>
                                <div>Price</div>
                            </th>
                            <th>
                                <div>{{selPairCoin}}</div>
                            </th>
                            <th>
                                <div>{{selPairCurrency}}</div>
                            </th>
                            <th>
                                <div>Sum({{selPairCurrency}})</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of buyOrders" (click)="onClickBuyOrder(order)">
                            <td class="text-right">
                                <div>{{order.rate | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.amount | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.total | number:'1.8-8'}}</div>
                            </td>
                            <td class="text-right">
                                <div>{{order.sum | number:'1.8-8'}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="no-result" *ngIf="buyOrders.length == 0"><span>There isn't any buy orders yet.</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="make-orders buy-order">
                <div class="sub-title">
                    <h3 class="text-uppercase text-primary">Buy {{selPairCoin}}</h3>
                </div>
                <div class="p-20 make-content">
                    <form>
                        <div>
                            <label>Price:</label>
                            <input type="number" [(ngModel)]="buyOrder.price" name="buyorderPrice">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>
                        <div class="bottom-dotted">
                            <label>Amount:</label>
                            <input type="number" [(ngModel)]="buyOrder.amount" name="buyorderAmount"
                                   (ngModelChange)="changeBuyOrderAmount()">
                            <label class="coin-name">{{selPairCoin}}</label>
                        </div>
                        <div>
                            <label>Total:</label>
                            <input type="number" [(ngModel)]="buyOrder.total" name="buyorderTotal"
                                   (ngModelChange)="changeBuyOrderTotal()">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>

                        <div class="fee text-primary"><u>Fee:0.15/0.25%</u></div>

                        <div class="sign-in" *ngIf="!settings.getAppSetting('is_loggedin')"><a class="text-primary"
                                                                                               [routerLink]="['/login']"><u>Sign
                            In</u></a> or <a class="text-primary" [routerLink]="['/signup']"><u>Create an
                            Account</u></a> to trade.
                        </div>
                        <div class="btn-wrapper" *ngIf="settings.getAppSetting('is_loggedin')">
                            <button class="" (click)="sendBuyOrder()">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="make-orders stop-order">
                <div class="sub-title">
                    <h3 class="text-uppercase text-primary">STOP-LIMIT</h3>
                </div>
                <div class="p-20 make-content">
                    <form>
                        <div>
                            <label>Stop:</label>
                            <input type="number">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>
                        <div>
                            <label>Limit:</label>
                            <input type="number">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>
                        <div class="bottom-dotted">
                            <label>Amount:</label>
                            <input type="number">
                            <label class="coin-name">{{selPairCoin}}</label>
                        </div>
                        <div>
                            <label>Total:</label>
                            <input type="number">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>

                        <div class="sign-in" *ngIf="!settings.getAppSetting('is_loggedin')"><a class="text-primary"
                                                                                               [routerLink]="['/login']"><u>Sign
                            In</u></a> or <a class="text-primary" [routerLink]="['/signup']"><u>Create an
                            Account</u></a> to trade.
                        </div>
                        <div class="btn-wrapper" *ngIf="settings.getAppSetting('is_loggedin')">
                            <button class="mr-3">Buy</button>
                            <button class="">Sell</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="make-orders sell-order">
                <div class="sub-title">
                    <h3 class="text-uppercase text-primary">SELL {{selPairCoin}}</h3>
                </div>
                <div class="p-20 make-content">
                    <form>
                        <div>
                            <label>Price:</label>
                            <input type="number" [(ngModel)]="sellOrder.price" name="sellorderPrice">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>
                        <div class="bottom-dotted">
                            <label>Amount:</label>
                            <input type="number" [(ngModel)]="sellOrder.amount" name="sellorderAmount">
                            <label class="coin-name">{{selPairCoin}}</label>
                        </div>
                        <div>
                            <label>Total:</label>
                            <input type="number" [(ngModel)]="sellOrder.total" name="sellorderTotal">
                            <label class="coin-name">{{selPairCurrency}}</label>
                        </div>

                        <div class="fee text-primary"><u>Fee:0.15/0.25%</u></div>

                        <div class="sign-in" *ngIf="!settings.getAppSetting('is_loggedin')"><a class="text-primary"
                                                                                               [routerLink]="['/login']"><u>Sign
                            In</u></a> or <a class="text-primary" [routerLink]="['/signup']"><u>Create an
                            Account</u></a> to trade.
                        </div>
                        <div class="btn-wrapper" *ngIf="settings.getAppSetting('is_loggedin')">
                            <button class="" (click)="sendSellOrder()">Sell</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="market-depth">
                <div class="sub-title">
                    <h3 class="text-uppercase text-primary">Market Depth</h3>
                </div>
                <div id="depth-chart"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="trade-info">
                <div class="header clearfix">
                    <div class="text-uppercase float-left text-primary name">TRADE INFO</div>

                    <div class="btn-group float-left mt-1 ml-3" role="group" aria-label="First group" *ngIf="settings.getAppSetting('is_loggedin')">
                        <button type="button" class="btn btn-secondary text-uppercase"
                                [ngClass]="{active: selTradeInfo == 'market_trade'}"
                                (click)="selTradeInfo = 'market_trade'">market trades
                        </button>
                        <button type="button" class="btn btn-secondary text-uppercase"
                                [ngClass]="{active: selTradeInfo == 'my_trade'}" (click)="selTradeInfo = 'my_trade'">my
                            trades
                        </button>
                        <button type="button" class="btn btn-secondary text-uppercase"
                                [ngClass]="{active: selTradeInfo == 'my_open_orders'}"
                                (click)="selTradeInfo = 'my_open_orders'">my open orders
                        </button>
                    </div>
                </div>

                <div class="trade-content">
                    <div class="market-trade" *ngIf="selTradeInfo == 'market_trade'">
                        <div class="table-responsive mt-2">
                            <div class="table-head">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div>Date</div>
                                        </th>
                                        <th>
                                            <div>Type</div>
                                        </th>
                                        <th>
                                            <div>Price ({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Amount ({{selPairCoin}})</div>
                                        </th>
                                        <th>
                                            <div>Total({{selPairCurrency}})</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of marketTradeHistory" (click)="onClickSellOrder(order)">
                                        <td class="text-left">
                                            <div>{{item.datetime}}</div>
                                        </td>
                                        <td class="text-left"
                                            [ngClass]="{buy: item.exchange_type == 0, sell: item.exchange_type == 1}">
                                            <div>{{item.exchange_type == 0 ? 'buy' : 'sell'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.rate | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.dest_amount |
                                                number:'1.8-8') : (item.src_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.src_amount |
                                                number:'1.8-8') : (item.dest_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div>Date</div>
                                        </th>
                                        <th>
                                            <div>Type</div>
                                        </th>
                                        <th>
                                            <div>Price ({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Amount ({{selPairCoin}})</div>
                                        </th>
                                        <th>
                                            <div>Total({{selPairCurrency}})</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of marketTradeHistory" (click)="onClickSellOrder(order)">
                                        <td class="text-left">
                                            <div>{{item.datetime}}</div>
                                        </td>
                                        <td class="text-left"
                                            [ngClass]="{buy: item.exchange_type == 0, sell: item.exchange_type == 1}">
                                            <div>{{item.exchange_type == 0 ? 'buy' : 'sell'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.rate | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.dest_amount |
                                                number:'1.8-8') : (item.src_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.src_amount |
                                                number:'1.8-8') : (item.dest_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="no-result" *ngIf="marketTradeHistory.length == 0"><span>There isn't any trades yet.</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="my-trade" *ngIf="selTradeInfo == 'my_trade'">
                        <div class="table-responsive mt-2">
                            <div class="table-head">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div>Date</div>
                                        </th>
                                        <th>
                                            <div>Type</div>
                                        </th>
                                        <th>
                                            <div>Price ({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Amount ({{selPairCoin}})</div>
                                        </th>
                                        <th>
                                            <div>Total({{selPairCurrency}})</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of myTradeHistory" (click)="onClickSellOrder(order)">
                                        <td class="text-left">
                                            <div>{{item.datetime}}</div>
                                        </td>
                                        <td class="text-left"
                                            [ngClass]="{buy: item.exchange_type == 0, sell: item.exchange_type == 1}">
                                            <div>{{item.exchange_type == 0 ? 'buy' : 'sell'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.rate | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.dest_amount |
                                                number:'1.8-8') : (item.src_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.src_amount |
                                                number:'1.8-8') : (item.dest_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div>Date</div>
                                        </th>
                                        <th>
                                            <div>Type</div>
                                        </th>
                                        <th>
                                            <div>Price ({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Amount ({{selPairCoin}})</div>
                                        </th>
                                        <th>
                                            <div>Total({{selPairCurrency}})</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of myTradeHistory" (click)="onClickSellOrder(order)">
                                        <td class="text-left">
                                            <div>{{item.datetime}}</div>
                                        </td>
                                        <td class="text-left"
                                            [ngClass]="{buy: item.exchange_type == 0, sell: item.exchange_type == 1}">
                                            <div>{{item.exchange_type == 0 ? 'buy' : 'sell'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.rate | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.dest_amount |
                                                number:'1.8-8') : (item.src_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.exchange_type == 0 ? (item.src_amount |
                                                number:'1.8-8') : (item.dest_amount | number:'1.8-8')}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="no-result" *ngIf="myTradeHistory.length == 0"><span>You have not made any trades yet.</span></div>
                            </div>


                        </div>
                    </div>
                    <div class="my-open-orders" *ngIf="selTradeInfo == 'my_open_orders'">
                        <div class="table-responsive mt-2">
                            <div class="table-head">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div>Type</div>
                                        </th>
                                        <th>
                                            <div>Price ({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Amount ({{selPairCoin}})</div>
                                        </th>
                                        <th>
                                            <div>Total({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Rate/Stop</div>
                                        </th>
                                        <th>
                                            <div>Date</div>
                                        </th>
                                        <th>
                                            <div class="text-center">Action</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of myOpenOrdrs">
                                        <td class="text-left"
                                            [ngClass]="{buy: item.type == 0, sell: item.type == 1}">
                                            <div>{{item.type == 0 ? 'buy' : 'sell'}}</div>
                                        </td>
                                        <td class="text-left">
                                            <div>{{item.rate | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.amount | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{(item.amount*item.rate) | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>rate/stop</div>
                                        </td>
                                        <td class="text-left">
                                            <div>{{item.created_at}}</div>
                                        </td>
                                        <td class="text-left">
                                            <div>{{'delete'}}</div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="table-content">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            <div>Type</div>
                                        </th>
                                        <th>
                                            <div>Price ({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Amount ({{selPairCoin}})</div>
                                        </th>
                                        <th>
                                            <div>Total({{selPairCurrency}})</div>
                                        </th>
                                        <th>
                                            <div>Rate/Stop</div>
                                        </th>
                                        <th>
                                            <div>Date</div>
                                        </th>
                                        <th>
                                            <div class="text-center">Action</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of myOpenOrdrs; let i = index">
                                        <td class="text-left"
                                            [ngClass]="{buy: item.type == 0, sell: item.type == 1}">
                                            <div>{{item.type == 0 ? 'buy' : 'sell'}}</div>
                                        </td>
                                        <td class="text-left">
                                            <div>{{item.rate | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{item.amount | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>{{(item.amount*item.rate) | number:'1.8-8'}}</div>
                                        </td>
                                        <td class="text-right">
                                            <div>rate/stop</div>
                                        </td>
                                        <td class="text-left">
                                            <div>{{item.created_at}}</div>
                                        </td>
                                        <td class="text-center delete">
                                            <div><i class="fa fa-trash" (click)="deleteOpenOrder(i)"></i></div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                                <div class="no-result" *ngIf="myOpenOrdrs.length == 0"><span>You have no open orders.</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>